ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #101;
}

.active {
    background-color: #4CAF50;
}
body {
    background-color: #F1F1F1;
	background-image:url("https://images.complex.com/complex/images/c_limit,w_680/fl_lossy,pg_1,q_auto/jg9u5tphldqug22omvtv/travis-scott-complexcon-bird-2.jpg"); 
    background-repeat:no-repeat;
    background-size: cover;
}
