head, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(64,64,64,0.7);
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
	font-size: 18px
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 86px;
    text-decoration: none;
}

li a:hover {
    background-color: #990000;
}

.active {
    background-color: #4CAF50;
}
