body {
    background-color: #F1F1F1;
	background-image:url("https://theearlyregistration.files.wordpress.com/2015/07/16742725165_5a64e5e25c_k.jpg"); 
    background-repeat:no-repeat;
    background-size: cover;
}
head {
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    opacity: 0.7
	

	font-size: 18px
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 87.5px;
    text-decoration: none;
}

li a:hover {
    background-color: #990000;
}

.active {
    background-color: #4CAF50;
}
